<!DOCTYPE html>
{% extends "webapp/base.html" %}
{% load staticfiles %}

      {% block body_block %}
        <div class="container" style="padding-top:50px; padding-left:100px;">
          <p id="Q">Question: สมัครแบบกลุ่มได้รึเปล่า?</p><br>
          <p id="A">Answer: โอนเงินครั้งเดียวได้ครับ แต่ต้องลงทะเบียนทีละคนครับ</p><br>
          <p id="Q">Question: มีสมัครหน้างานรึเปล่า?</p><br>
          <p id="A">Answer: ไม่มีครับ</p><br>
          <p id="Q">Question: ต้องโอนเงินก่อนลงทะเบียน?</p><br>
          <p id="A">Answer: ใช่ครับ โอนเงินแล้วกรอกรายละเอียดนักวิ่งเข้ามาได้เลยครับ</p><br>
          <p id="Q">Question: รับเสื้อ รับBIB ที่ไหน อย่างไร?</p><br>
          <p id="A">Answer: 2 วิธีครับ รับหน้างาน หรือจะให้เราส่งไปให้ที่บ้าน ก็ได้ครับ</p><br>
          <p id="Q">Question: รับเสื้อ รับBIB เช้าวันวิ่งได้รึเปล่า?</p><br>
          <p id="A">Answer: ได้ครับ แต่ต้องมาก่อนเวลาปล่อยตัว</p><br>
          <p id="Q">Question: สามารถรับของแทนกันได้รึไม่?</p><br>
          <p id="A">Answer: ได้ครับ แต่ต้องยื่นสำเนาบัตรประชาชนของผู้ลงทะเบียน(โชว์ทางมือถือก็ได้)</p><br>
          <p id="Q">Question: ติดธุระไม่สามารถมาวิ่งได้ แต่ต้องการอยากได้เสื้อ+เหรียญ ต้องทำอย่างไร?</p><br>
          <p id="A">Answer: inbox มาที่ เพจแพนด้าตาบวม ได้เลยครับ</p><br>
          <p id="Q">Question: ปล่อยตัวกี่โมง?</p><br>
          <p id="A">Answer: 21k หกโมงตรง 10k หกโมงครึ่ง ครับ</p><br>
          <p id="Q">Question: เส้นทางเป็นอย่างไร มีเขามั้ย?</p><br>
          <p id="A">Answer: แน่นอนว่าเป็นเขาครับ</p><br>
          <p id="Q">Question: จุดกางเต็นท์และห้องน้ำ?</p><br>
          <p id="A">Answer: มีครับ กางเต็นท์และใช้ห้องน้ำภายในศูนย์วิจัยฯ</p><br>
          <p id="Q">Question: แนะนำที่พักใกล้ๆ</p><br>
          <p id="A">Answer:<a href="https://khunnaiver.blogspot.com/2016/12/34.html"> https://khunnaiver.blogspot.com/2016/12/34.html</a></p><br>
          <p id="Q">Question: ลงทะเบียนผิดพลาด ต้องทำอย่างไร?</p><br>
          <p id="A">Answer: ฝากข้อความไว้ หน้าติดต่อเรา ได้เลยครับ</p><br>
        </div>
      {% endblock %}
