<!DOCTYPE html>
{% extends "webapp/base.html" %}
{% load staticfiles %}

      {% block body_block %}
        <div class="container" style="text-align:center;">
          <img class="img-responsive" style="margin-top:20px;" src="{% static "images/T_shirt.png"%}" alt="Detail1 image is not found">
          <img class="img-responsive" style="margin-top:20px;" src="{% static "images/medel.png"%}" alt="Detail1 image is not found">
          <img class="img-responsive" style="margin-top:20px; margin-bottom:20px;" src="{% static "images/WB.png"%}" alt="Detail1 image is not found">
        </div>
      {% endblock %}
